/*General Styles*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/mountains0.jpg") fixed bottom right;
    color: black;
}

h1 {
    font-size: 24px;
    line-height: 2;
}

/*NavBar styles*/
.navbar-brand {
    margin: -8px auto;
    padding: 12px;
    color: black;
    text-shadow: 1px 1px 2px darkgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand.hover {
    text-decoration: none;
    color: gray;
}

#sideBar {
    text-align: center;
    background: rgba(143, 127, 127, 0.7);
    border: 1px solid black;
    border-radius: 8px;
}

#navPic {
    object-fit: contain;
    max-width: 50%;
    height: auto;
    margin: 4px auto 0;
    border-radius: 50%;
}

.nav-link:hover {
    cursor: pointer;
}


#aboutClick:hover {
    color: gold;
}

#portClick:hover {
    color: gold;
}

#conClick:hover {
    color: gold;
}

/*Main Body Styles*/

.headerText {
    text-align: center;
    font-weight: 400;
}

.headerUnder {
    border-bottom: 1px solid black;
}

#mainBody {
    border-radius: 8px;
    border: 1px solid black;
    background: rgba(143, 127, 127, 0.7);
}

/*Footer Styles*/
.fixed-bottom {
    text-align: center;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #666666;
    color: #4aaaa5;
}

/*Portfolio Styles*/
.portfolioimages {
    height: 160px;
    width: 160px;
    object-fit: cover;
    float: left;
    margin: 20px 0;
    border-radius: 10px;
}

.portfoliotext {
    background-color: rgba(105, 105, 214, 0.884);
    color: white;
    width: 160px;
    max-height: 50px;
    position: absolute;
    margin: 150px 0px;
    text-align: center;
}

/*About Styles*/
.abouttext {
    line-height: 1.5;
}

/*Contact Styles*/
.contactwidth {
    box-sizing: initial;
    box-sizing: 70%;
}

/*Remove off-center of header*/
@media only screen and (min-width: 576px) {
    .headerText {
        text-align: initial;
    }
}

/*Standardize sizing of navpic*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #navPic {
        max-width: 70%;
    }
}

/* @media only screen and (max-width: 768px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }
} */

/* @media only screen and (max-width: 576px) {

} */

body {
    background-image: url("../images/skyscrap.jpg");
    background-size: cover;
}

#bod {
    background-color: rgba(50, 51, 59, 0.95);
}

.navbar-brand {
    color: white;
}

.imrnd {
    border-radius: 8px;
}

#headLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.ylw {
    color: yellow;
}

.grn {
    color: green;
}

.blu {
    color: royalblue;
}

.prp {
    color: violet;
}

.red {
    color: red;
}

.ora {
    color: orange;
}